@charset "UTF-8";

.modal-overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 50vw;
  height: 50vh;
}

.input-task {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #ddd;
  box-sizing: border-box;
}

.input-task:focus {
  box-shadow: 0 0 5px 0 rgba(255,153,0,1);
  border: 2px solid #FFF !important;
  outline: 0;
}